/* Variable */
/*end */
/* line 5, ../style/style.scss */
html, body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 13, ../style/style.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 17, ../style/style.scss */
.container {
  margin: 0 20px;
  overflow: hidden;
  *zoom: 1;
}

/* line 21, ../style/style.scss */
.page-content {
  padding-top: 60px;
}

/* line 24, ../style/style.scss */
.menu-header {
  position: fixed;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 66px;
  color: #FFF;
  background-color: #0D47A1;
}

/* line 33, ../style/style.scss */
.header-logo {
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/* line 38, ../style/style.scss */
.menu {
  float: left;
}
/* line 40, ../style/style.scss */
.menu a {
  padding: 0 25px;
}
/* line 43, ../style/style.scss */
.menu a:hover {
  color: #E0E0E0;
}

/* responsive */
@media only screen and (max-width: 750px) {
  /* line 49, ../style/style.scss */
  .site-content, .pusher {
    height: 100%;
  }

  /* line 52, ../style/style.scss */
  .site-content {
    overflow: hidden;
  }

  /* line 55, ../style/style.scss */
  .pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 59, ../style/style.scss */
  .menu-header {
    position: static;
  }

  /* line 62, ../style/style.scss */
  .header-icon {
    position: relative;
    display: block;
    width: 35px;
    height: 50px;
    cursor: pointer;
  }
  /* line 68, ../style/style.scss */
  .header-icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 12px;
    left: 10px;
    -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }

  /* line 80, ../style/style.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #1E88E5;
    width: 300px;
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  /* line 89, ../style/style.scss */
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #E0E0E0;
  }

  /* line 98, ../style/style.scss */
  .side-bar .pusher {
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
  /* line 99, ../style/style.scss */
  .side-bar .hide-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
