@import "compass";
/* Variable */
$width-menu:300px;
/*end */
#bgcover{
  background: url('../img/bg.png') no-repeat top center fixed;
  @include background-size(cover);

}
html ,body {
  font-family: Roboto ;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  margin: 0 20px;
  @include clearfix;
}
.page-content{
  padding-top: 60px;
}
.menu-header{
  position: fixed;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 66px;
  color: #FFF;
  background-color: #0D47A1;
}
.header-logo{
  font-weight: bold;
  padding:0 25px;
  float: left;
}
.menu{
  float:left;
  a{
    padding: 0 25px;
  }
  a:hover{
    color: #E0E0E0;
  }
}
/* responsive */
@media only screen and (max-width:750px) {
  .site-content , .pusher {
    height: 100%;
  }
  .site-content{
    overflow: hidden;
  }
 .pusher{
   @include transition-duration(0.3s);
   @include transform(translateX(0px));
 }
.menu-header{
  position: static;
}
.header-icon{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgba(82,179,217,0.2);
  border-radius: 50%;
  float: right;
  cursor: pointer;
  top:5px;
  right: 10px;
  &:after{
    content:'';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top:10px;
    right: 17px;
    @include box-shadow(0 10px 0 1px #FFF, 0 16px 0 1px #FFF,0 22px 0 1px #FFF);

    }
  }
  .menu{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    background-color: #1E88E5;
    width: $width-menu;
    @include transform(translateX($width-menu * -1 ));
    @include transition-duration(0.3s);
    a{
      display: block;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-bottom: 1px solid #E0E0E0;
    }
  }
  .side-bar{
    .pusher{@include transform(translateX($width-menu));}
    .hide-sidebar{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
    }
  }
}
//30
